@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff'),
        url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.eot');
    src: url('fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Medium.woff2') format('woff2'),
        url('fonts/Montserrat-Medium.woff') format('woff'),
        url('fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-Bold.woff2') format('woff2'),
        url('fonts/NotoSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-Light.woff2') format('woff2'),
        url('fonts/NotoSerif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-Regular.woff2') format('woff2'),
        url('fonts/NotoSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-Medium.woff2') format('woff2'),
        url('fonts/NotoSerif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif';
    font-weight: bold;
}

.navbar {
    background-color: #2c3e50;
}

.navbar-brand,
.nav-link {
    color: #ecf0f1;
}

.nav-link:hover {
    color: #ff4d6d !important;
}

.custom_cta-custom {
    background-color: #ff4d6d;
    color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
}

.custom_cta-custom:hover {
    background-color: #e67e22;
    color: #fff;
}

header nav {
    z-index: 99;
}

.slick-slider {
    margin: 0 -15px;
}

.slick-slide {
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.banner_section:before {
    background-color: rgba(75, 0, 5, 0.7);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.custom_cta {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.custom_cta:hover {
    background-color: #fff;
}

.custom_cta span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 700;
}

.custom_cta:before,
.custom_cta:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #fff;
    transition: all 0.3s ease;
}

.custom_cta:before {
    height: 0%;
    width: 2px;
}

.custom_cta:after {
    width: 0%;
    height: 2px;
}

.custom_cta:hover:before {
    height: 100%;
}

.custom_cta:hover:after {
    width: 100%;
}

.custom_cta:hover {
    background: transparent;
}

.custom_cta span:before,
.custom_cta span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #fff;
    transition: all 0.3s ease;
}

.custom_cta span:before {
    width: 2px;
    height: 0%;
}

.custom_cta span:after {
    height: 2px;
    width: 0%;
}

.custom_cta span:hover:before {
    height: 100%;
}

.custom_cta span:hover:after {
    width: 100%;
}

.custom_cta {
    width: 180px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    font-family: 'Noto Serif';
    background-color: #ff4d6d;
    margin-top: 40px;
}

section {
    margin-bottom: 60px;
}

.slick-arrow::before,
.slick-arrow::after {
    color: #ff4d6d !important;
    font-size: 30px !important;
}

button.slick-arrow {
    width: 30px !important;
    height: 30px !important;
}

.cust_col:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translateY(-5px);
    transition: 0.2s linear all;
}

.cat_content p {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px !important;
    margin: 0;
}

.cat_content h3 {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cat--content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.2s linear all;
}

.card--cont-bg1 {
    background-color: #DEDFDC;
}

.card--cont-bg2 {
    background-color: #D0C7BC;
}

.card--cont-bg3 {
    background-color: #BBAE9E;
}

.card--cont-bg4 {
    background-color: #48697E;
}

.price {
    font-size: 14px;
}

.dis-price {
    font-size: 12px;
}

.catgeroy_slider-content span img {
    width: 20px;
    height: 20px;
}

.catgeroy_slider-content .custom_cta {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.catgeroy_slider-content .img_container:hover .custom_cta {
    opacity: 1;
}

.position-relative.img_container:hover:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    margin: 0 auto;
}

ul.services {
    min-width: 100%;
    flex-direction: column;
}

@media only screen and (min-width: 1280px) {
    ul.services {
        flex-direction: row;
    }
}

ul.services li {
    flex: 1;
    transition: all 0.35s ease;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden;
}

ul.services li.active {
    flex: 6;
    cursor: default;
}

ul.services li:before {
    content: "";
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.75);
}

ul.services li.active:before {
    background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, #111111 100%);
}

ul.services li h3 {
    white-space: nowrap;
    z-index: 30;
    opacity: 1;
    transition: top 0.35s, opacity 0.15s;
    transform-origin: 0 0;
    transform: translate(-50%, -50%) rotate(0deg);
}

ul.services li.active h3 {
    opacity: 0;
    top: 200%;
}


ul.services li .section-content {
    z-index: 30;
    opacity: 0;
    transition: all 0.35s 0.1s ease-out;
}

ul.services li.active .section-content {
    opacity: 1;
}

ul.services li .section-content .inner {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

ul.services li.active .section-content .inner {
    opacity: 1;
}

ul.services li .section-content .inner .bio {
    grid-auto-flow: row;
    grid-template-rows: min-content;
}

ul.services li .section-content .inner .artist-profile-link {
    pointer-events: none;
}

ul.services li .section-content .inner .active .artist-profile-link {
    pointer-events: all;
}

.form-container {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
}

.form-control {
    border: none;
    border-radius: 30px;
    background-color: #f7f9fc;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-color: #ff4d6d;
}

.form-label {
    font-weight: bold;
    color: #ff4d6d;
}

.form-text {
    font-size: 12px;
    color: #a0aec0;
}

.form-group {
    margin-bottom: 20px;
}

.form-container button:hover {
    background-color: #000;
}

.accordion.accordion-button:focus {
    border: 0 !important;
}

.faq-section button:hover {
    background-color: #000;
}

.instagram-video-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s;
}

.instagram-video-card:hover {
    transform: scale(1.05);
}

.instagram-video-card iframe {
    object-fit: cover;
}

.instagram-video-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 10px;
}

.instagram-video-card:hover .overlay {
    opacity: 1;
}

.play-icon {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

footer ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff4d6d;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff4d6d;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #ff4d6d;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff4d6d;
    padding: 13px 20px;
    border: 1px solid #ff4d6d;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #ff4d6d;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff4d6d;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
    top: 0;
}

.social-icons {
    margin-left: auto;
}

.nav-item {
    margin-right: 20px;
}

.social-icons ul li a i {
    font-size: 24px;
    color: #6e6969;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons ul li a:hover i {
    color: #ff4d6d;
    transform: scale(1.2);
}

button:focus {
    outline: 0;
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

@media only screen and (min-width: 1280px) {
    ul.services li h3 {
        top: 100%;
        left: 50%;
        transform: translate(-20px, -50%) rotate(-90deg);
    }
}

@media only screen and (min-width: 768px) {
    ul.services li .section-content .inner {
        grid-auto-flow: column;
        grid-template-columns: calc(100% - 340px) 300px;
        grid-column-gap: 40px;
        padding: 40px;
    }
}

@media (max-width: 768px) {

    .navbar-left,
    .social-icons {
        flex-grow: 1;
        justify-content: center;
    }

    .navbar-logo {
        position: static;
        transform: none;
        margin-bottom: 15px;
    }

    .navbar-toggler {
        margin-right: 20px;
    }

    .navbar-collapse {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }

    .banner_section:before {
        display: none;
    }

    .categories_slider {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .categories_section .cat--content {
        flex-direction: column-reverse;
    }

    .categories_section .cat--content:nth-child(3),
    .categories_section .cat--content:nth-child(4) {
        flex-direction: column;
    }

    .categories_section .cat_content {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .bio a,
    .banner_content {
        display: none;
    }

    .social-icons li:nth-child(2) {
        display: block;
    }

    .social-icons li {
        display: none;
    }

    .navbar-collapse {
        position: absolute;
        top: 119px;
        background: #fff;
        width: 100%;
        height: 90vh;
    }
}